:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --header-bg-color: #fff;
    --header-text-color: #333;
    --link-color: #337ab7;
    --section-border-color: #337ab7;
    --skill-bg-color: #337ab7;
    --skill-text-color: #fff;
    --container-bg-color: #fff;
    --container-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #f4f4f4;
    --header-bg-color: #222;
    --header-text-color: #f4f4f4;
    --link-color: #87cefa; /* Light blue for dark mode links */
    --section-border-color: #87cefa;
    --skill-bg-color: #87cefa;
    --skill-text-color: #333;
    --container-bg-color: #222;
    --container-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top);
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition:
        background-color 0.3s,
        color 0.3s;
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 250px;
    transition: margin-left 0.5s ease;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: var(--container-bg-color);
    border-radius: 5px;
    box-shadow: var(--container-shadow);
    transition:
        background-color 0.3s,
        box-shadow 0.3s;
}

header {
    text-align: center;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    transition:
        transform 0.5s ease,
        width 0.5s ease,
        background-color 0.3s,
        color 0.3s;
    display: flex;
    flex-direction: column;
}

.header-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    overflow-y: auto;
    z-index: 1000;
    flex-shrink: 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav ul li {
    display: block;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--link-color);
}

header nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid;
}

nav ul li a i {
    margin-right: 8px;
}

.section {
    margin-bottom: 20px;
    padding: 20px; /* Added padding */
}

.section-title {
    font-size: 1.5em;
    border-bottom: 2px solid var(--section-border-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.entry {
    margin-bottom: 15px;
}

.entry-title {
    font-size: 1.2em;
    margin: 0;
}

.entry-info {
    margin: 5px 0;
    color: var(--text-color);
}

.entry-description {
    margin: 10px 0 0 20px;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-gauge {
    display: flex;
}

.star {
    font-size: 20px;
    color: #ccc;
    margin-left: 5px;
}

.star.filled {
    color: var(--skill-bg-color);
}



#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#theme-toggle svg {
    width: 24px;
    height: 24px;
    stroke: var(--text-color);
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.entry h3 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.entry .date {
    font-weight: normal;
    color: #888;
    font-size: 0.9em;
}

[data-theme="dark"] .entry .date {
    color: #bbb;
}

.entry .title {
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: auto;
    padding: 10px 10px;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    border-radius: 5px;
    transition:
        background-color 0.3s,
        color 0.3s;
    bottom: 0;
    z-index: 1;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.footer-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 0.9em; /* Smaller font size */
}

.footer-item i {
    margin-right: 8px;
    color: var(--link-color);
}

.footer-item a {
    text-decoration: none;
    color: var(--link-color);
}

#sidebar-toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 1001;
}

#sidebar-toggle i {
    font-size: 24px;
    color: var(--text-color);
}

.header-sidebar.collapsed #sidebar-toggle {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.header-sidebar.collapsed {

    width: 60px;

}



.header-sidebar.collapsed .title-container h1,

.header-sidebar.collapsed nav ul li a span,

.header-sidebar.collapsed .footer-item a span,

.header-sidebar.collapsed #theme-toggle {

    display: none;

}



.header-sidebar.collapsed .profile-photo {

    display: block;

    width: 40px;

    height: 40px;

    margin: 10px auto;

}



.header-sidebar.collapsed .location-text {
    display: none;
}

.header-sidebar.collapsed .footer-item i {
    display: block;
    font-size: 1.5em;
    margin: 0 auto;
}





.header-sidebar.collapsed .footer-item a {

    display: block;

    text-align: center;

}



.header-sidebar.collapsed nav ul li a {

    display: block;

}



.header-sidebar.collapsed nav ul li a i {

    font-size: 1.5em;

    margin: 0 auto;

}



.header-sidebar.collapsed .footer-content {

    flex-direction: column;

    align-items: center;

}



.header-sidebar.collapsed .footer-item {

    justify-content: center;

}





.header-sidebar.collapsed .footer-item a i {

    font-size: 1.5em;

    margin: 0 auto;

}



main.collapsed {

    margin-left: 60px;

}

.section-title i {
    margin-right: 10px;
}
